
#background {
    -fx-background-image: url("imagens/brasao_back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.fundo-opcao {
    -fx-background-color: #f4f4f4;
}

.titled-opcao:expanded {
    -fx-border-color: rgb(0, 168, 89);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-alignment: center;
    -fx-content-display: text-only;
}

.titled-opcao:expanded .title {
    -fx-font-family: "Arial";
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(0, 168, 89);
}

.label-separator {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0, 168, 89, 1);
}

.item-inativo {
    -fx-background-color: rgba(4, 4, 4, 0.42);
}

.text-field {
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
}

.choice-box {
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
}

.combo-box {
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
}

.list-view-font {
    -fx-font-family: monospace;
    -fx-font-style: normal;
    -fx-font-size: 12pt;
}